<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>{{title}}{{photo}}</h1>
        <div><A Href="./">Back to gallery</A></div>
        <div class="full_size"><img src="{{big_photo_path}}{{photo}}"</div>
    </body>
</html>