<html>
    <head>
        <style>
            h1 {
                text-align: center;
            }
            .back {
                width: 130px;
                padding: 10px;
                border: 1px solid black;
                border-radius: 3px;
                background-color: blue;
                margin: 20px;
                
            }
            a {
                text-decoration: none;
                text-align: center;
                color: white;
                display: block;
                width: 100%;
            }
            .full-size {
                text-align: center;
            }
            img {
                display: block;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}{{photo}}</h1>
        <div class="back"><A Href="./">Back to gallery</A></div>
        <div class="full_size"><img src="{{big_photo_path}}{{photo}}"</div>
    </body>
</html>